build/
tnm079-data-master/
build/.vs/MoA/v16/.suo
build/.vs/MoA/v16/Browse.VC.db
build/.vs/MoA/v16/ipch/AutoPCH/286ce535cb843570/FRAMEMAIN.ipch
build/.vs/MoA/v16/ipch/AutoPCH/680d2899beeb8ad0/SIMPLEMESH.ipch
build/.vs/MoA/v16/ipch/AutoPCH/734b805b93a02283/GUI.ipch
build/.vs/MoA/v16/ipch/AutoPCH/742bf9bb386ae12/HALFEDGEMESH.ipch
build/.vs/MoA/v16/ipch/AutoPCH/c4cb977f81fe3f8f/GLVIEWER.ipch
build/.vs/MoA/v16/ipch/AutoPCH/df930347b1de2bfe/MAIN.ipch
build/.vs/MoA/v16/Solution.VC.db
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/bin/Debug/MoA.exe
build/bin/Debug/MoA.pdb
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/2bccbcbb8f9d93dec7d2b82164bb95f5/generate.stamp.rule
build/CMakeFiles/3.20.3/CMakeCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/VCTargetsPath.txt
build/CMakeFiles/3.20.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/MoA.dir/Debug/AdaptiveLoopSubdivisionMesh.obj
build/MoA.dir/Debug/BlackWhiteColorMap.obj
build/MoA.dir/Debug/ColorMap.obj
build/MoA.dir/Debug/ColorMapFactory.obj
build/MoA.dir/Debug/Console.obj
build/MoA.dir/Debug/Cube.obj
build/MoA.dir/Debug/DecimationMesh.obj
build/MoA.dir/Debug/FluidSolver.obj
build/MoA.dir/Debug/FluidVoxelCutPlane.obj
build/MoA.dir/Debug/FrameMain.obj
build/MoA.dir/Debug/GLAxis.obj
build/MoA.dir/Debug/GLGridPlane.obj
build/MoA.dir/Debug/GLObject.obj
build/MoA.dir/Debug/GLObjectPlayback.obj
build/MoA.dir/Debug/GLViewer.obj
build/MoA.dir/Debug/GrayColorMap.obj
build/MoA.dir/Debug/GreenRedColorMap.obj
build/MoA.dir/Debug/GUI.obj
build/MoA.dir/Debug/HalfEdgeMesh.obj
build/MoA.dir/Debug/Heap.obj
build/MoA.dir/Debug/HotColorMap.obj
build/MoA.dir/Debug/HSVColorMap.obj
build/MoA.dir/Debug/Implicit.obj
build/MoA.dir/Debug/ImplicitMesh.obj
build/MoA.dir/Debug/IsoContourColorMap.obj
build/MoA.dir/Debug/JetColorMap.obj
build/MoA.dir/Debug/LevelSet.obj
build/MoA.dir/Debug/LevelSetGrid.obj
build/MoA.dir/Debug/LevelSetOperator.obj
build/MoA.dir/Debug/LineStrip.obj
build/MoA.dir/Debug/LoopSubdivisionMesh.obj
build/MoA.dir/Debug/main.obj
build/MoA.dir/Debug/MarchingCubes.obj
build/MoA.dir/Debug/Mesh.obj
build/MoA.dir/Debug/MoA.exe.recipe
build/MoA.dir/Debug/MoA.ilk
build/MoA.dir/Debug/MoA.log
build/MoA.dir/Debug/MoA.tlog/CL.command.1.tlog
build/MoA.dir/Debug/MoA.tlog/CL.read.1.tlog
build/MoA.dir/Debug/MoA.tlog/CL.write.1.tlog
build/MoA.dir/Debug/MoA.tlog/CustomBuild.command.1.tlog
build/MoA.dir/Debug/MoA.tlog/CustomBuild.read.1.tlog
build/MoA.dir/Debug/MoA.tlog/CustomBuild.write.1.tlog
build/MoA.dir/Debug/MoA.tlog/link.command.1.tlog
build/MoA.dir/Debug/MoA.tlog/link.read.1.tlog
build/MoA.dir/Debug/MoA.tlog/link.write.1.tlog
build/MoA.dir/Debug/MoA.tlog/MoA.lastbuildstate
build/MoA.dir/Debug/ObjIO.obj
build/MoA.dir/Debug/Quadric.obj
build/MoA.dir/Debug/QuadricDecimationMesh.obj
build/MoA.dir/Debug/ScalarCutPlane.obj
build/MoA.dir/Debug/SignedDistanceSphere.obj
build/MoA.dir/Debug/SimpleDecimationMesh.obj
build/MoA.dir/Debug/SimpleMesh.obj
build/MoA.dir/Debug/Sphere.obj
build/MoA.dir/Debug/SphereFractal.obj
build/MoA.dir/Debug/trackball.obj
build/MoA.dir/Debug/TrilinearInterpolator.obj
build/MoA.dir/Debug/UniformCubicSpline.obj
build/MoA.dir/Debug/UniformCubicSplineSubdivisionCurve.obj
build/MoA.dir/Debug/Util.obj
build/MoA.dir/Debug/vc142.pdb
build/MoA.dir/Debug/VectorCutPlane.obj
build/MoA.sln
build/MoA.vcxproj
build/MoA.vcxproj.filters
build/MoA.vcxproj.user
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
